body {
    background: #3CAEA3;
}

.background {
    margin: auto;
    height: 300px;
    width: 300px;
    border-radius: 100%;
    background: #20639B;
    margin-top: 150px;
}

h1 {
    color: #D5E2D6;
    text-align: center;
    line-height: 50px;
    margin-top: -350px;
    -moz-transform: scale(1) rotate(-5deg) translateX(0px) translateY(0px) skewX(1deg) skewY(1deg);
    -webkit-transform: scale(1) rotate(-5deg) translateX(0px) translateY(0px) skewX(1deg) skewY(1deg);
    -o-transform: scale(1) rotate(-5deg) translateX(0px) translateY(0px) skewX(1deg) skewY(1deg);
    -ms-transform: scale(1) rotate(-5deg) translateX(0px) translateY(0px) skewX(1deg) skewY(1deg);
    transform: scale(1) rotate(-5deg) translateX(0px) translateY(0px) skewX(1deg) skewY(1deg);
    text-shadow: 1px 1px #173F5F, 2px 2px #173F5F, 3px 3px #173F5F, 4px 4px #173F5F, 5px 5px #173F5F, 6px 6px #173F5F, 7px 7px #173F5F, 8px 8px #173F5F, 9px 9px #173F5F, 10px 10px #173F5F, 11px 11px #173F5F, 12px 12px #173F5F, 13px 13px #173F5F, 14px 14px #173F5F, 15px 15px #173F5F, 16px 16px #173F5F, 17px 17px #173F5F, 18px 18px #173F5F, 19px 19px #173F5F, 20px 20px #173F5F, 21px 21px #173F5F, 22px 22px #173F5F, 23px 23px #173F5F, 24px 24px #173F5F, 25px 25px #173F5F, 26px 26px 6px #173F5F;
}

span:nth-child(3), span:nth-child(7) { 
    font-size: 60px;
    }
    
span:nth-child(1), span:nth-child(9), span:nth-child(5)  {
      font-size: 90px;
    }