@import url(https://fonts.googleapis.com/css?family=Lobster);

body {
    background: #ff7e49;
    font-family: 'Lobster', cursive;
}

.background {
    margin: auto;
    height: 300px;
    width: 300px;
    border-radius: 100%;
    background: #c9283e;
    margin-top: 150px;
}

h1 {
    color: #D5E2D6;
    text-align: center;
    line-height: 50px;
    margin-top: -350px;
    -moz-transform: scale(1) rotate(-5deg) translateX(0px) translateY(0px) skewX(1deg) skewY(1deg);
    -webkit-transform: scale(1) rotate(-5deg) translateX(0px) translateY(0px) skewX(1deg) skewY(1deg);
    -o-transform: scale(1) rotate(-5deg) translateX(0px) translateY(0px) skewX(1deg) skewY(1deg);
    -ms-transform: scale(1) rotate(-5deg) translateX(0px) translateY(0px) skewX(1deg) skewY(1deg);
    transform: scale(1) rotate(-5deg) translateX(0px) translateY(0px) skewX(1deg) skewY(1deg);
    text-shadow: 1px 1px #7e0130, 2px 2px #7e0130, 3px 3px #7e0130, 4px 4px #7e0130, 5px 5px #7e0130, 6px 6px #7e0130, 7px 7px #7e0130, 8px 8px #7e0130, 9px 9px #7e0130, 10px 10px #7e0130, 11px 11px #7e0130, 12px 12px #7e0130, 13px 13px #7e0130, 14px 14px #7e0130, 15px 15px #7e0130, 16px 16px #7e0130, 17px 17px #7e0130, 18px 18px #7e0130, 19px 19px #7e0130, 20px 20px #7e0130, 21px 21px #7e0130, 22px 22px #7e0130, 23px 23px #7e0130, 24px 24px #7e0130, 25px 25px #7e0130, 26px 26px 6px #7e0130;
}

span:nth-child(3), span:nth-child(7) { 
    font-size: 60px;
    }
    
span:nth-child(1), span:nth-child(9), span:nth-child(5)  {
      font-size: 90px;
    }